{% extends 'base.html' %}

{% block content %}
<div class="container-fluid h-full py-5 px-0" style="background: #E7E4FF">
  <div class="align-items-center w-100 text-center mt-5">
    <h5 class="fst-italic fw-normal py-3">Ателье костюмов Натальи Хэ</h5>
    <div class="mt-5 mt-md-4">
      <div class="row align-items-start justify-content-center">
        <div class="px-5 mx-5 w-auto">
          <a href="https://www.instagram.com/natali_che_leotards" class="text-decoration-none" style="position: relative; top: calc(15px); right: -20px; width: fit-content;">
            <h5 class="py-2 px-3 cormorant-ita" style="border: 1px solid black; border-radius: 100%; width: fit-content; transform: rotate(11deg); background: r;">instagram</h5>
          </a>
          <a href="https://www.instagram.com/natali_che_leotards" class="text-decoration-none"><h1 class="display-3 col cormorant-ita mb-0 text-nowrap" style="color: #867aff; line-height: .69;">@natali-che-leotards</h1></a>
        </div>

        <div class="m-0 w-100" style="height: 17px; background: #E7E4FF; border-top: 1px solid black;">
        </div>
      </div>

    </div>
    <div class="mt-5 mt-md-4 pt-5">
      <div class="row align-items-start justify-content-center">
        <div class="px-5 mx-5 w-auto">
          <a href="https://t.me/Nataliche83" class="text-decoration-none" class="" style="position: relative; top: calc(15px); left: -30px;">
            <h5 class="py-2 px-3 cormorant-ita" style="border: 1px solid black; border-radius: 100%; width: fit-content; transform: rotate(-11deg); background: #E7E4FF;">telegram</h5>
          </a>
          <a href="https://t.me/Nataliche83" class="text-decoration-none"><h1 class="display-3 cormorant-ita mb-0 text-nowrap" style="color: #867aff; line-height: .69;">@Nataliche83</h1></a>
        </div>

        <div class="m-0 w-100" style="height: 17px; background: #E7E4FF; border-top: 1px solid black;">
        </div>
      </div>

    </div>
    <div class="mt-5 mt-md-4 pt-5">
      <div class="row align-items-start justify-content-center">
        <div class="px-5 mx-5 w-auto">
          <a href="tel:+7(900)567-43-20" class="text-decoration-none" class="" style="position: relative; top: calc(15px); left: -30px;">
            <h5 class="py-2 px-3 cormorant-ita" style="border: 1px solid black; border-radius: 100%; width: fit-content; transform: rotate(-5deg); background: #E7E4FF;">whatsapp</h5>
          </a>
          <a href="tel:+7(900)567-43-20" class="text-decoration-none"><h1 class="display-3 cormorant-ita mb-0 text-nowrap" style="color: #867aff; line-height: .69;">+7 (962)
            250-80-25</h1></a>
        </div>

        <div class="m-0 w-100" style="height: 17px; background: #E7E4FF; border-top: 1px solid black;">
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
h1 class="cormorant-reg display-4 mb-4">Ателье костюмов <a class="cormorant-ita text-decoration-none"
  href="tel:+79622508025" style="color: #867aff;">Натальи Хэ</a></h1>
<p class=""><i class="bi bi-geo-alt-fill me-1"></i> Калининград, ул. Больничная 42, кабинет 205</p>
<a class="text-black" href="https://www.instagram.com/natali_che_leotards?igsh=NGhuc21sb2RreGF6x">
  <p class=""><i class="bi bi-instagram me-1"></i> natali_che_leotards</p>
</a>
<a class="text-black" href="https://t.me/Nataliche83">
  <p class=""><i class="bi bi-telegram me-1"></i> natali_che_leotards</p>
</a>
<a class="text-black" href="tel:+79622508025">
  <p class=""><i class="bi bi-telephone-fill me-1"></i> +7 (962) 250-80-25</p>
</a>